@media (min-width: 1366px) and (max-width: 1599px)
	.container_1
		padding: 315px 0
		background-position: (50% 75%)
	.menu-btn
		right 75px
	.container_2
		padding-top: 173px
		img
			width: 460px
		.column
			padding-bottom: 173px
	.container_3
		padding:
			top: 156px
			bottom: 156px
		.column
			transform: translateX(-75px)

@media (min-width: 1280px) and (max-width: 1365px)
	body
		font-size: (16px)
	.name
		font-size: (30px)
	.column
		width: 360px
	.container_1
		padding: 315px 0
		background-position: (50% 75%)
		.name
			font-size: (40px)
	.menu-btn
		right 75px
	.container_2
		padding-top: 173px
		img
			width: 370px
		.column
			padding-bottom: 173px
	.container_3
		padding:
			top: 156px
			bottom: 156px
		.column
			transform: translateX(-70px)

@media screen and (max-width: 1279px)
	body
		font-size: (16px)
	.name
		font-size: (30px)
	.column
		width: 360px
	.container_1
		padding: 210px 0
		background-position: (50% 75%)
		.name
			font-size: (40px)
	.menu-btn
		right 75px
	.container_2
		padding-top: (346/3)*1px
		img
			width: 370px
		.column
			padding-bottom: (346/3)*1px
	.container_3
		padding:
			top: (312/3)*1px
			bottom: (312/3)*1px
		.column
			transform: translateX(-70px)
	.itm_link
		a
			width: 45px
			height: 45px
			span
				line-height: 45px
				font-size: (20px)
